asgiref==3.8.1
Django==4.2.21
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
PyJWT==2.9.0
requests==2.32.5
mysqlclient==2.2.4
pymysql
gunicorn
sqlparse==0.5.1
Pillow
python-dotenv
stripe
cryptography
urllib3
certifi
charset-normalizer
idna
tzdata
